/* ================================================================ */
/* CommonRule StyleSheet Definations(Since.1.0.0)                   */
/* ================================================================ */
/*#region 部品定義 */
.text,
.icon {
	user-select:    none;
	pointer-events: none;
}
/*#endregion 部品定義 */

/*#region 配置定義 */
.pane,
.line {
	display: flex;
}

.pane {
	flex-direction: column;
}
.line {
	flex-direction: row;
}
/*#endregion 配置定義 */

/*#region 領域定義 */
.pane > .weight-0,
.line > .weight-0 {
	flex-grow:   0;
	flex-shrink: 0;
}
.pane > .weight-1,
.line > .weight-1 {
	flex-grow:   1;
	flex-shrink: 1;
}

html.pane:has(body.weight-1) {
	height: 100%;
}
/*#endregion 領域定義 */
